{% extends 'portfolio/base.html'%}
{% block content %}
<section id="courses" class="  courses-inner pt-2 pb-2 mt-3">
  <div class="row">
    <div class="col-md-12">
      <div class="float-left">
        <h5 class="courses-text">Courses</h5>
      </div>
      <div class="float-right">
        Click to Start ! <a href="#" class="btn btn-primary btn-sm">Sing Up</a>
      </div>
    </div>
  </div>

  <div class="album py-5">
    <div class="row">
      {% for project in projects %}
      <div class="col-md-3">
        <div class="card mb-4 shadow-sm">
          <img src="{{ project.image.url }}" class="card-img-top" alt="..." height="100px">
          <div class="card-body">
            <h5 class="card-text">{{ project.title }}</h5>
            <p class="text-muted">{{ project.description|truncatechars:50}}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<hr>

<section id="projects" class="projects-inner">
  <div class="row">
    <div class="col-md-12">
      <div class="float-left">
        <h5 class="courses-text">Projects</h5>
      </div>
      <div class="float-right">
        Click to Start ! <a href="#" class="btn btn-primary btn-sm">Sing Up</a>
      </div>
    </div>
  </div>

  <div class="album py-5">
    <div class="row">
      {% for project in projects %}
      <div class="col-md-3">
        <div class="card mb-4 shadow-sm">
          <img src="{{ project.image.url }}" class="card-img-top" alt="..." height="100px">
          <div class="card-body">
            <h5 class="card-text">{{ project.title }}</h5>
            <p class="text-muted">{{ project.description|truncatechars:50}}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  
</section>

{% endblock %}
